PyYAML==6.0.3
jsonschema==4.26.0
cmake==4.4.3
ninja==1.13.2
nvidia-cuda-nvcc==13.2.51
nvidia-cuda-runtime==13.2.51
nvidia-cuda-crt==13.2.51
nvidia-cuda-cccl==13.2.27
nvidia-cuda-culibos==13.2.51
nvidia-nvvm==13.2.51
nvidia-cublas==13.3.0.5
